<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="uJcMgTec74XQuqII6nUY4dDmQ4bc7jO4iuPKJSGL_lY" />
    <title>Django-cookbook by gterzian</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>Django-cookbook</h1>
        <p>Django CookBook</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/gterzian/Django-Cookbook" class="button fork"><strong>View On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="https://github.com/gterzian/Django-Cookbook/zipball/master" class="button">ZIP</a></li>
            <li><a href="https://github.com/gterzian/Django-Cookbook/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
        <section>
        {{ content }}
        </section>
		{% include disqus.html %}   
    </div>
    {% include footer.html %}
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>